node_modules
dist
.env
.env.local
.firebase
.firebase-home
.firebase-config
firebase-debug.log
firestore-debug.log
functions/node_modules
functions/lib
.emulator-data
.firebase-emulator-data/
ui-debug.log
functions/.env.local
functions/test-results/
firebase-export-*/
.DS_Store
firebase-export-*/
.DS_Store
